createdAt: "2018-05-28T09:52:32.400Z"
updatedAt: "2018-05-28T09:53:02.507Z"
type: "MARKDOWN_NOTE"
folder: "e753a4d90155d4543ead"
title: "Setear todas las named queries y (saveObject) persistir lo necesario"
content: "### Setear todas las named queries y (saveObject) persistir lo necesario"
tags: []
isStarred: false
isTrashed: false
