createdAt: "2018-06-26T13:28:38.158Z"
updatedAt: "2018-06-26T13:28:44.568Z"
type: "MARKDOWN_NOTE"
folder: "276031ddb754b09f1290"
title: "Firefox Conf"
content: '''
  Firefox Conf
  
  ![0.4lj4uc5m7yi](\\:storage\\0.4lj4uc5m7yi.png)
'''
tags: []
isStarred: false
isTrashed: false
