createdAt: "2018-06-08T09:44:33.449Z"
updatedAt: "2018-06-08T09:44:45.387Z"
type: "MARKDOWN_NOTE"
folder: "d8a3e829e299fd5ae9b1"
title: "GIT quitar Remotes branches que no existen"
content: '''
  # GIT quitar Remotes branches que no existen
  
  
'''
tags: []
isStarred: false
isTrashed: false
