createdAt: "2018-06-08T10:00:24.557Z"
updatedAt: "2018-06-26T13:01:06.972Z"
type: "MARKDOWN_NOTE"
folder: "d8a3e829e299fd5ae9b1"
title: "Excluir Ficheros sólo en local"
content: '''
  # Excluir Ficheros sólo en local
  
  la carpeta está en .git/info/
  
  el fichero a modificar es exclude
  
  añades el nombre de los ficheros.
'''
tags: []
isStarred: false
isTrashed: false
