createdAt: "2018-01-23T09:35:07.623Z"
updatedAt: "2018-06-26T13:03:56.004Z"
type: "MARKDOWN_NOTE"
folder: "d8a3e829e299fd5ae9b1"
title: "GIT Commands"
content: '''
  # GIT Commands
  
  ### git add
  Afegir al stash tots els documents modificats.
  ```git
  git add .
  ```
  ### git branch
  Para mostrar brancas remotas:
  ```git
  git branch -r
  ```
  Para mostrar brancas locales:
  ```git
  git branch
  ```
  Para mostrar todas las brancas:
  ```git
  git branch -a
  ```
  Crear branca local basandose en remota
   ```git
  git branch M160 origin/M160
  ```
  ### git fetch
  Para recoger los cambios del repositorio remoto sin actualizar
  ### git pull
  git pull = git fetch + git merge
  ### git checkout
  Para cambiar de branca, si existe en local, a la local y si existe en remoto y no en local, a la remota creando branca local.
  ```git
  git checkout nameBranch
  ```
  Hacer checkout de la branca actual
  ```git
  git checkout .
  ```
  ### git status
  Nos dice el estado del repositorio local
  
  ### Guardar file al stash
  
  - Afegir al stash el document indicat
  ```git
  git stash save <nameFile>
  ```
  - Cambiar de branca.
  - Recuperar el ficher del stash
  ```git
  git stash pop <nameFile>
  ```
  - Resolver conflictos buscar mergetool.
  
  ### Quitar el commit del file, sin quitar cambios.
  ```git
  git reset HEAD <nameFile>
  ```
  
  ### Crear Branca repo local y saltar a ella
  ```git
  git checkout -b <nombreBranca>
  ```
  ### Crear branca en repositorio remoto
  ```git
  git push origin <nombreBranca>
  
'''
tags: [
  "git"
]
isStarred: false
isTrashed: false
isPinned: true
