createdAt: "2018-01-23T09:35:07.623Z"
updatedAt: "2018-04-12T10:15:16.399Z"
type: "MARKDOWN_NOTE"
folder: "d8a3e829e299fd5ae9b1"
title: "GIT"
content: '''
  # GIT
  
  ### git add
  Afegir al stash tots els documents modificats.
  ```git
  git add .
  ```
  ### git branch
  Para mostrar brancas remotas:
  ```git
  git branch -r
  ```
  Para mostrar brancas locales:
  ```git
  git branch
  ```
  Para mostrar todas las brancas:
  ```git
  git branch -a
  ```
  Crear branca local basandose en remota
   ```git
  git branch M160 origin/M160
  ```
  ### git fetch
  Para recoger los cambios del repositorio remoto sin actualizar
  ### git pull
  git pull = git fetch + git merge
  ### git checkout
  Para cambiar de branca, si existe en local, a la local y si existe en remoto y no en local, a la remota creando branca local.
  ```git
  git checkout nameBranch
  ```
  Hacer checkout de la branca actual
  ```git
  git checkout .
  ```
  ### git status
  Nos dice el estado del repositorio local
  
  
'''
tags: [
  "git"
]
isStarred: false
isTrashed: false
