createdAt: "2018-06-26T10:40:21.594Z"
updatedAt: "2018-06-26T10:41:06.898Z"
type: "MARKDOWN_NOTE"
folder: "500e3f4fe40b90c44d01"
title: "Comprobar version JAVA"
content: '''
  # Comprobar version JAVA
  ```bash
  update-alternatives --config java
  ```
  la que esté con asterisco es la actual
'''
tags: []
isStarred: false
isTrashed: false
