createdAt: "2018-01-22T13:30:01.912Z"
updatedAt: "2018-01-22T16:04:51.993Z"
type: "MARKDOWN_NOTE"
folder: "d8a3e829e299fd5ae9b1"
title: "h2. Primera Linae"
content: '''
  h2. Primera Linae
  
'''
tags: [
  "Tutorial"
]
isStarred: false
isTrashed: true
isPinned: false
