createdAt: "2018-01-23T13:57:46.022Z"
updatedAt: "2018-01-23T13:58:19.707Z"
type: "MARKDOWN_NOTE"
folder: "36dc2446e36e7cca6b7c"
title: "SQL Server Tips"
content: '''
  # SQL Server Tips
  ### Modificar Registres de Taules
'''
tags: []
isStarred: false
isTrashed: false
