createdAt: "2018-01-23T13:57:46.022Z"
updatedAt: "2018-01-24T11:43:54.517Z"
type: "MARKDOWN_NOTE"
folder: "36dc2446e36e7cca6b7c"
title: "Mock Data"
content: '''
  # Mock Data
  ### Mock Data
  Mockear datos, para testear BBDD.
  [mockaroo](https://www.mockaroo.com/)
'''
tags: []
isStarred: false
isTrashed: false
