createdAt: "2018-01-24T11:41:19.946Z"
updatedAt: "2018-01-24T11:43:31.583Z"
type: "MARKDOWN_NOTE"
folder: "fb254da586aa10c929b0"
title: "WS"
content: '''
  # WS
  ### JSONPlaceHolder
  
  Sitio para probar API:
  [JSONplaceHolder](https://jsonplaceholder.typicode.com/)
'''
tags: []
isStarred: false
isTrashed: false
