createdAt: "2018-04-12T09:13:36.064Z"
updatedAt: "2018-06-26T13:10:08.580Z"
type: "MARKDOWN_NOTE"
folder: "500e3f4fe40b90c44d01"
title: "Comandes linux"
content: '''
  # Comandes linux
  
  Ver últimas líneas:
  ```bash
  tail -f -n1000 /srv/tomcat/logs/catalina.out
  ```
  ---
  (ctrl+r) buscar consulta reverse
  
  Si escribes literal y luego vuelves apretar ctrl+r buscará el siguiente match hasta que no encuentre más.
  
  ---
  Ver variables de entorno
  
  ```bash
  printenv
  ```
  ---
  Ver historial de comandas
  ```bash
  history 10
  ```
  Borrar historial
  ```bash
  history -c
  ```
  
  
  Ver comandos más usados
  ```bash
  history | awk 'BEGIN {FS="[ \\t]+|\\\\|"} {print $3}' | sort | uniq -c | sort -nr
   ```
   ```bash
  history | awk 'BEGIN {FS="[ \\t]+|\\\\|"} {print $3}' | sort | uniq -c | sort -nr | head -n 7
   ```
  ---
'''
tags: []
isStarred: false
isTrashed: false
