createdAt: "2018-04-13T14:55:55.176Z"
updatedAt: "2018-06-26T13:01:00.679Z"
type: "MARKDOWN_NOTE"
folder: "d8a3e829e299fd5ae9b1"
title: "GIT ADVANCED"
content: '''
  # GIT ADVANCED
  
  
  ```
'''
tags: []
isStarred: false
isTrashed: true
